@media screen and (min-width: 100px){
    #WhatIDo, #WhatIDo .d-flex{
        display: block!important;
    }

    #skillSets .col-4{
        opacity: 0;
        width:0;
    }
    #skillSets .col-6{
        width:100%;
    }

    #Connections{
        display: block!important;
    }
    #Connections .col-4 img{
        width:70%;
    }
    #Connections .col-6, #Connections .col-4 {
        width:100%;
    }
}
@media screen and (min-width: 700px){
    #WhatIDo{
        display: block!important;
    }
    #WhatIDo .d-flex{
        display: flex!important;
    }

    #skillSets .col-4{
        opacity: 0;
        width:0;
    }
    #skillSets .col-6{
        width:100%;
    }

    #Connections{
        display: block!important;
    }
    #Connections .col-4 img{
        width:70%;
    }
    #Connections .col-6, #Connections .col-4 {
        width:100%;
    }
}
@media screen and (min-width: 1200px){
    #WhatIDo{
        display: flex!important;
    }

    #skillSets .col-4{
        opacity: 1;
        width:40%;
    }
    #skillSets .col-6{
        width:60%;
    }

    #Connections{
        display: flex!important;
    }
    #Connections .col-4 img{
        width:100%;
    }
    #Connections .col-4 {
        width: 40%;
    }
    #Connections .col-6{
        width:60%;
    }
}

.resume{
    height:50px;
    width: 200px;

    border:3px solid blueviolet;
    background-color: #1d1d1d;
    color:white;

    font-family: jbmono_bold;
    font-size: 20px;

    cursor: pointer;
}
