/* Thin */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


.text-underline::after{
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    height: 8px;
    background-image: url("/images/underline.png");
    background-size: contain;
    background-repeat: no-repeat;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
