/* Thin */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Light */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Regular */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Black */
@font-face {
    font-family: 'portfolio';
    src: url('/fonts/Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
