.about, .project, .blog{
    color:white;
    background-color: var(--bodyBg);

    opacity: 0;
    transition: opacity 0.5s ease;
    overflow-y: scroll;
    width: 100vw;
}

.back{ padding:50px; }
.back span{ cursor: pointer; }
.back span:hover{ color:yellow; }

.scroll-down{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card{
    background-color: #1b1b1b;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
}


.btn{
    cursor: pointer;
    font-family: jbmono_bold;
    border-radius: 5px;
    height:35px;
}
.btn-primary{
    background-color: #074D90;
    color:rgba(255,255,255,.5);
}



.accordion-item{
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    
    height:50px;/*50px;*/
    padding-left: 5%;
    padding-right: 5%;
    cursor:pointer;
}
/* .accordion-item:nth-child(1){height: 700px;} */

.accordion-header{
    height: 50px;
    margin:0;

    display: flex;
    align-items: center;
    cursor:pointer;
}

.accordion-button{
    font-size: 20px;
    text-align: start;
    font-family: jbmono_bold;

    background-color: transparent;
    border:none;

    color:white;
    cursor:pointer;
    width: 100%;
}

#project-title, #project-description, #project-resource, #project-features{
    transition: all 0.2s ease-in-out;
}

.img-toolkit{
    transition: opacity 0.2s ease-in-out;
}

.img-slider{
    display: flex;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.img-loader{
    font-size: 50px;
    transition: opacity 0.1s ease-in-out;
    animation: rotation 2s infinite linear;
}

.img-slider div{
    height:15px;
    width:15px;
    background-color: white;

    border-radius: 50%;
    margin-top:15px;
    margin-left:8px;
    

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img-slider-active{
    cursor:auto !important;
    width:100px !important;
    border-radius: 5px !important;
    overflow: hidden;
}

:root{
    --slider-width:0px;
}

.img-selector{
    display: flex;
    position: relative;
    right:0%;
    transition: all 0.2s ease-in-out;
}

.img-selector div img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.img-slider-active::after{
    content:'';
    display: block;
    height:15px;
    width:var(--slider-width);
    background-color: #b1b1b1;
    transition: all .2s ease-in;
}

.img-slider-option{
    margin-top:6px;
    margin-left:18px;
    font-size: 25px;

    cursor:pointer;
    color:#1d1d1d;
}
