.about, .project, .blog{
    color:white;
    background-color: var(--bodyBg);

    opacity: 0;
    transition: opacity 0.5s ease;
    overflow-y: scroll;
    width: 100vw;
}

.back{ 
    padding:50px; 
    cursor: pointer;
    border:0;

    color:white;
    background-color: transparent;
    font-family: jbmono_regular;
    font-size: large;
}
.back:hover{ color:yellow; }

.scroll-down{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card{
    background-color: #1b1b1b;
    border:1px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    color:white;
}


.btn{
    cursor: pointer;
    font-family: jbmono_bold;
    border-radius: 5px;
    height:35px;
}
.btn-primary{
    background-color: #074D90;
    color:rgba(255,255,255,.5);
}



.accordion-item{
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    
    height:50px;/*50px;*/
    padding-left: 5%;
    padding-right: 5%;
    cursor:pointer;
}
/* .accordion-item:nth-child(1){height: 700px;} */

.accordion-header{
    height: 50px;
    margin:0;

    display: flex;
    align-items: center;
    cursor:pointer;
}

.accordion-button{
    font-size: 20px;
    text-align: start;
    font-family: jbmono_bold;

    background-color: transparent;
    border:none;

    color:white;
    cursor:pointer;
    width: 100%;
}

#project-title, #project-description, #project-resource, #project-features{
    transition: all 0.2s ease-in-out;
}

.img-toolkit{
    transition: opacity 0.2s ease-in-out;
}

.img-slider .project-imageslide{
    display: flex;
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
.img-loader{
    font-size: 50px;
    transition: opacity 0.1s ease-in-out;
    animation: rotation 2s infinite linear;
}

.img-slider .project-imageslide div{
    height:15px;
    width:15px;
    background-color: white;

    border-radius: 50%;
    margin-top:15px;
    margin-left:8px;
    

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.img-slider-active{
    cursor:auto !important;
    width:100px !important;
    border-radius: 5px !important;
    overflow: hidden;
}

/* :root{
    --slider-width:0px;
} */

.img-selector .project-image{
    display: flex;
    position: relative;
    right:0%;
    transition: all 0.2s ease-in-out;
}

.img-selector .project-image div img{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.img-slider-active::after{
    content:'';
    display: block;
    height:15px;
    width: 0px;/*var(--slider-width);*/
    background-color: #b1b1b1;

    animation-name: imgslider;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes imgslider {
    from{
        width:0;
    }
    to{
        width:100px;
    }
}

.img-slider-option{
    margin-top:6px;
    margin-left:18px;
    font-size: 25px;

    cursor:pointer;
    color:#1d1d1d;
}

.resume{
    height:50px;
    width: 200px;

    border:3px solid blueviolet;
    background-color: #1d1d1d;
    color:white;

    font-family: jbmono_bold;
    font-size: 20px;

    cursor: pointer;
}

.project-selector{
    background-color: #1d1d1d;
    color:white;

    font-family: jbmono_bold;
    font-size: 20px;

    cursor:pointer;
}

.project-selector option{
    width:40px;
}

.project-sidebar, .project-detail, .project-image, .project-imageslide{
    opacity: 0;
    visibility: hidden;
    z-index: 0;

    position: absolute;
    top:100%;

    transition: opacity 0.2s ease-in-out;

    height:0px;
}

.project-sidebar-active, .project-detail-active, .project-image-active, .project-imageslide-active{
    opacity: 1;
    visibility: visible;
    z-index: 1;

    position:static;
    top:0%;

    transition: opacity 0.2s ease-in-out;
    height:auto;
}

.project-imageslide, .project-imageslide-active{
    transition: all 0s !important;
}