.about, .project, .blog{
    color:white;
    background-color: var(--bodyBg);

    opacity: 0;
    transition: opacity 0.5s ease;
    overflow-y: scroll;
}

.about .back, .project .back, .blog .back{
    cursor: pointer;
}
