/*
 * Global Variables
 */
:root{
    --textBg:white;
    --bodyBg:#010409;
}

/*
 * Font Families
 */
@font-face {
    font-family: jbmono_regular;
    src: url("../webfont/JetBrainsMono-Regular.woff2");
}

@font-face {
    font-family: jbmono_bold;
    src: url("../webfont/JetBrainsMono-Bold.woff2");
}
/*
 * Container Open Animation
 */
@keyframes open {
    from{opacity: 0;}
    to{opacity: 1;}
}

/*
 * Media Query
 */
@media screen and (min-width: 100px){
    .container{
        opacity: 0;
    }
    .viewport-support{
        opacity: 1;
    }
}
@media screen and (min-width: 600px){
    .container{
        opacity: 1;
    }
    .viewport-support{
        opacity: 0;
    }
}

/*
 * Body Style
 */
body{
    margin:0;
    padding:0;
    border:0;

    height:100%;
    width:100%;

    font-family: jbmono_bold;
    color:var(--textBg);
    background-color: var(--bodyBg);
}


h1,h2,h3,h4,h5 p{
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color:cornflowerblue;
}

.container{
    height:100vh;

    color:white;
    background:transparent;

    display: flex;
    justify-content: center;
    transition: filter 0.5s ease-in;
    animation: open .2s forwards .1s ease-in;
}

.back{ 
    margin:50px; 
    cursor: pointer;
    border:0;

    color:white;
    background-color: transparent;
    font-family: jbmono_regular;
    font-size: large;
}
.back:hover{ 
    color:yellow; 
}